body { margin:0; padding:0;}

/* #map { width: 70%; } */

#map-container{
    padding-top:65px;
    padding-left: 10;
    padding-right: 0;
    width: 100%;
}

#map { 
    position: relative;
    height: 900px;
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    height: 900px;
    background-color: #828282;
}

.col-sm-10 {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

   .col,
   [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#basemaps-wrapper {
    position: absolute;
    top: 450px;
    width: 55%;
    z-index: 400;
    background: white;
    padding: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #basemaps {
    margin-bottom: 1px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #pool {
    position: absolute;
    top: 495px;
    width: 55%;
    z-index: 1000;
    background: white;
    padding: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #pool select {
    margin-bottom: 1px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #status {
    position: absolute;
    width: 55%;
    top: 540px;
    z-index: 1000;
    background: white;
    padding: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #constStatus select {
    margin-bottom: 1px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }